/*google fonts import*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/*general styles for page*/
body {
    font-family: "roboto", sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    color: #282828;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: #282828
}

p {
    font-size: larger;
}


/*header*/

header {
    background-color: #58b368;
    padding-left: 1rem;
    margin-top: -10px;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#header-text, #bwc-list, .fa-solid {
    color: #282828;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/*navbar styles with dropdown toggle*/
nav {
    position: absolute;
    background-color: #70e686;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;
    border-top: 2px solid #3a3a3a;

}

/*nav toggle*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display:none;
}

.nav-toggle-label {
    font-size: 2rem;
    padding-right: 40px;
}

#header-content {
    height: 70px;
    z-index: 99;
    text-decoration: none;
}

#header-text {
    letter-spacing: 4px;
    padding-left: 10px;
    padding-bottom: 10px;
    min-width: 120px;
    max-height: 70px;

}

#bwc-list {
    padding-top: 5px;
    z-index: 99;
    width: 100%;
    letter-spacing: 1px;
}


#nav-bar {
    position: absolute;
    width: 100%;
    height: 30px;
    margin-top: 0px;
    margin-bottom: 100px;
    background-color: #6cda80;
    box-shadow: 0 2px 2px #3a3a3a;
    padding-top: 5px;
}

#nav-bar-list {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    position: relative;
    padding-top: 0px;
    margin-top: 5px;
    letter-spacing: 2px;
    font-weight: 600;
    text-decoration: none;
}

#nav-bar-list i {
    padding-left: 5px;
}


#header-container {
    display: flex;
    max-height: 70px;
    min-height: 70px;
}

.selected {
    text-decoration: underline;
}


/*main*/
main {
    width: 100%;
    margin-top: 35px;
    bottom: 0;
    flex: 1 0 auto;
}

#main-area {
    display: flex;
    flex-direction: row;
    position: static;
}

#hero-photo-home {
    background: url(../images/bees.jpg) no-repeat center center/cover;
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#hero-photo-signup {
    background: url(../images/pine-marten.jpg) no-repeat center center/cover;
    min-height: 600px;
    width: 100%;

}

#hero-photo-whatwedo {
    background: url(../images/red-squirrel.jpg) no-repeat center center/cover;
    height: 600px;
    width: 100%;

}

#hero-photo-whoweare {
    background: url(../images/woodpecker.jpg) no-repeat center center/cover;
    height: 600px;
    width: 100%;

}

#hero-text-home {
    background-color: rgba(69, 77, 102, 0.8);
    border-radius: 5px;
    font-size: 130%;
    position: relative;
    width: 60%;
    margin-left: 10px;
    margin-top: -550px;
    padding-left: 10px;
    letter-spacing: 2px;
    padding-bottom: 5px;
    color: rgb(214, 214, 214);
}


#hero-text-home-box2 {
    background-color: rgba(69, 77, 102, 0.8);
    border-radius: 5px;
    font-size: 130%;
    margin-top: 200px;
    width: 60%;
    float: right;
    margin-top: 100px;
    text-align: right;
    margin-right: 10px;
    padding-right: 10px;
    color: rgb(214, 214, 214);
    letter-spacing: 2px;
}

#signup-container {
    background-color: rgba(69, 77, 102, 0.8);
    border-radius: 5px;
    font-size: 130%;
    position: fixed;
    top: 150px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 10px;
    letter-spacing: 2px;
    padding-bottom: 20px;
    color: rgb(214, 214, 214);
    text-align: center;

}

#font-awesome-hero-box {
    padding-right: 15px;
}

#content-area {

    width: 90%;
    margin-top: 300px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10px;
    padding-top: 80px;

}

#content-area h2 {
    letter-spacing: 2px;
}


h2 > i {
    padding-left: 5px;
}

#content-area div hr {
    color: #282828;
}

#signup-bodylink {
    text-decoration: underline;
}

#the-scottish-wildcat {
    display: flex;
    flex-direction: column;
    object-fit: cover;
}

#the-beaver {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    object-fit: cover;
}

#the-honeybee {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    object-fit: cover;
}

#species > div > h3 {
    margin-bottom: 0;
}

.team-photo {
    height: 400px;
    width: 100%;
    object-fit: cover;
}

#newsletter-image {
    height: 400px;
    width: 100%;
    object-fit: cover;
}

#conservation-image {
    height: 400px;
    width: 100%;
    margin-top: 30px;
    object-fit: cover;
}

#charity-body-image {
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.signup {
    margin-bottom: 10px;
}

#signup-form {
    text-align: center;
    font-size: large;
}


#register-button {
    font-size: large;
    margin-bottom: 10px;
}

#donation-amount {
    font-size: x-large;
}


.button-signup {
    border: 0;
    line-height: 2.5;
    padding: 10px 10px 10px 10px;
    font-size: x-large;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(225, 0, 0);
    box-shadow: -2px -2px 3px rgba(0, 0, 0, 0.6);
    margin-left: 40%;
    width: 30%;
    margin-top: 40px;
    letter-spacing: 1px;
    margin-bottom: 40px;
}
  
.button-signup:hover {
    background-color: rgba(163, 0, 0, 1);
}
  
.button-signup:active {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}

#signup-link {
    text-decoration: none;
}

.hr-bottom {
    width: 80%;
}

/*footer*/
footer {
    background-color: #58b368;
}


#social-media-list {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    position: relative;
    padding-top: 0;
    margin-top: 10px;
    margin-bottom: 0;
    text-decoration: none;
    font-size: xx-large;

}

@media screen and (min-width: 900px) {
    
    #content-area {
        margin-top: 150px;
    }
    
    #hero-photo-home, #hero-photo-signup, #hero-photo-whatwedo, #hero-photo-whoweare {
        height: 400px
    }

    #hero-text-home {
        width: 30%;
        margin-top: -350px;
    }

    #hero-text-home-box2 {
        margin-top: -50px;
        width: 30%;
        
    }

    #the-scottish-wildcat, #the-honeybee, #the-team, #the-conservation {
        display: flex;
        flex-direction: row;
        margin-bottom: 50px;
    }

    #body-image-wildcat, #body-image-honeybee, #team-photo, #conservation-image {
        width: 500px;
        height: 400px;
        margin-left: 20px;
    }    

    #the-beaver, #the-charity, #the-knowledge {
        display: flex;
        flex-direction: row-reverse;
        margin-bottom: 50px;
    }

    #body-image-beaver, #team-photo, #newsletter-image {
        width: 500px;
        height: 400px;
        margin-right: 20px;
    }

    #hero-photo-signup {
        min-height: 1000px
    }

    #signup-container {
        width: 30%;
        margin-left: 35%;
        margin-right: 35%;
    }

    .button-signup {
        font-size: x-large;
        margin-left: 47%;
        width: 20%;
    }

    #team-photo-1, #team-photo-2 {
        width: 500px;
        height: 400px;
    }

    #the-charity-text {
        padding-left: 20px;
    }

}

@media screen and (max-width: 730px) {
    #bwc-list {
        display: none;
    }

}