/*google fonts import*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/*general styles for page*/
body {
    font-family: "roboto", sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    color: #282828;
    min-height: 100vh;
}

a {
    text-decoration: none;
    color: #282828
}

p {
    font-size: larger;
}


/*header*/

#header-content {
    height: 70px;
    z-index: 99;
    box-shadow: 0 1px 0 #3a3a3a;
    text-decoration: none;
}

#header-text {
    letter-spacing: 4px;
    padding-left: 10px;
    padding-bottom: 10px;
    min-width: 120px;
    max-height: 70px;

}

#bwc-list {
    padding-top: 5px;
    box-shadow: 0 1px 0 #3a3a3a;
    z-index: 99;
    width: 100%;
    letter-spacing: 1px;
}


#header-background-photo {
    position: absolute;
    width: 100%;
    height: 70px;
    background: url("../images/forest-image.jpg") no-repeat center center/cover;
    opacity: 0.4;

}

#nav-bar {
    position: absolute;
    width: 100%;
    height: 30px;
    margin-top: 0px;
    margin-bottom: 100px;
    background-color: #58b368;
    box-shadow: 0 2px 2px #3a3a3a;
    padding-top: 5px;
}

#nav-bar-list {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    position: relative;
    padding-top: 0px;
    margin-top: 5px;
    letter-spacing: 2px;
    font-weight: 600;
    text-decoration: none;
}

#nav-bar-list i {
    padding-left: 5px;
}


#header-container {
    display: flex;
    max-height: 70px;
    min-height: 70px;
}


/*main*/
main {
    width: 100%;
    margin-top: 35px;
    bottom: 0;
    flex: 1 0 auto;
}

#main-area {
    display: flex;
    flex-direction: row;
    position: static;
}

#hero-photo-home {
    background: url(../images/bees.jpg) no-repeat center center/cover;
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#hero-photo-signup {
    background: url(../images/pine-marten.jpg) no-repeat center center/cover;
    height: 600px;
    width: 100%;

}

#hero-photo-whatwedo {
    background: url(../images/red-squirrel.jpg) no-repeat center center/cover;
    height: 600px;
    width: 100%;

}

#hero-photo-whoweare {
    background: url(../images/woodpecker.jpg) no-repeat center center/cover;
    height: 600px;
    width: 100%;

}

#hero-text-home {
    background-color: rgba(69, 77, 102, 0.8);
    border-radius: 5px;
    font-size: 130%;
    position: relative;
    width: 60%;
    margin-left: 10px;
    margin-top: -550px;
    padding-left: 10px;
    letter-spacing: 2px;
    padding-bottom: 5px;
    color: rgb(214, 214, 214);
}


#hero-text-home-box2 {
    background-color: rgba(69, 77, 102, 0.8);
    border-radius: 5px;
    font-size: 130%;
    margin-top: 200px;
    width: 60%;
    float: right;
    margin-top: 100px;
    text-align: right;
    margin-right: 10px;
    padding-right: 10px;
    color: rgb(214, 214, 214);
    letter-spacing: 2px;
}



#font-awesome-hero-box {
    padding-right: 15px;
}

#content-area {

    width: 90%;
    margin-top: 300px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10px;
    padding-top: 80px;

}

#content-area h2 {
    letter-spacing: 2px;
}


h2 > i {
    padding-left: 5px;
}

#content-area div hr {
    color: #282828;
}

#signup-bodylink {
    text-decoration: underline;
}

#the-scottish-wildcat {
    display: flex;
    flex-direction: column;
}

#body-image-wildcat {
    background: url(../images/body-image-wildcat.jpg) no-repeat center center/cover;
    height: 400px;
    width: 100%;
}

#the-beaver {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

#body-image-beaver {
    background: url(../images/body-image-beaver.webp) no-repeat center center/cover;
    height: 400px;
    width: 100%;
}

#the-honeybee {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

#body-image-honeybee {
    background: url(../images/body-image-honeybee.jpg) no-repeat center center/cover;
    height: 400px;
    width: 100%;
}

#species > div > h3 {
    margin-bottom: 0;
}

#team-photo {
    background: url(../images/the-team\ image.webp) no-repeat center center/cover;
    height: 400px;
    width: 100%;
}

#newsletter-image {
    background: url(../images/newsletter-image.webp) no-repeat center center/cover;
    height: 400px;
    width: 100%;
}

#conservation-image {
    background: url(../images/conservation-image.jpg) no-repeat center center/cover;
    height: 400px;
    width: 100%;
}

#charity-body-image {
    background: url(../images/charity-body-image.jpg) no-repeat center center/cover;
    height: 400px;
    width: 100%;
}

/*footer*/
footer {
    background-color: #58b368;
    position: fixed bottom;
}


#social-media-list {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    position: relative;
    padding-top: 0;
    margin-top: 10px;
    margin-bottom: 0;
    letter-spacing: 2px;
    font-weight: 600;
    text-decoration: none;

}

/*media query for the header and small devices*/
@media screen and (max-width: 600px) {
    #bwc-list {
        display: none;
    }

    #header-content {
        width: 100%;
    }

    #nav-bar-list i {
        display: none;
    }



}

@media screen and (min-width: 900px) {
    #hero-photo-home {
        height: 400px
    }

    #hero-photo-signup {
        height: 400px
    }

    #hero-photo-whatwedo {
        height: 400px
    }

    #hero-photo-whoweare {
        height: 400px
    }

    #hero-text-home {
        margin-top: -400px;
        width: 30%;
    }

    #hero-text-home-box2 {
        margin-top: -50px;
        width: 30%;
        
    }

    #content-area {
        margin-top: 100px;
        width:80%;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 120px;
    }

    #the-scottish-wildcat, #the-honeybee {
        display: flex;
        flex-direction: row;
    }

    #wildcat-text, #honeybee-text {
        padding-right: 10%;
    }

    #body-image-wildcat, #body-image-honeybee {
        min-width: 400px;
        min-height: 400px;
    }    

    #the-beaver {
        display:flex;
        flex-direction:row-reverse
    }

    #beaver-text {
        padding-left: 10%;
    }

    #body-image-beaver {
        min-width: 400px;
        min-height: 400px;
        
    }

    #the-team {
        display:flex;
        flex-direction: row;
    }

    #the-team-text {
        padding-right: 10%;
    }

    #team-photo {
        min-width: 400px;
        min-height: 400px;
    }

    #the-charity {
        display:flex;
        flex-direction:row-reverse
    }

    #the-charity-text {
        padding-left: 10%;
    }

    #charity-body-image {
        min-width: 400px;
        min-height: 400px;
    }

}